:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    250,254,254;
    --color-neutral-200:    183,235,245;
    --color-neutral-300:    116,216,235;
    --color-neutral-400:    49,197,225;
    --color-neutral-500:    25,149,173;
    --color-neutral-600:    20,118,137;
    --color-neutral-700:    15,88,102;
    --color-neutral-800:    10,57,66;
    --color-neutral-900:    4,26,30;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    255,255,255;
    --color-primary-300:    255,255,255;
    --color-primary-400:    219,239,244;
    --color-primary-500:    161,214,226;
    --color-primary-600:    130,200,216;
    --color-primary-700:    99,187,207;
    --color-primary-800:    67,173,197;
    --color-primary-900:    53,149,171;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    255,255,255;
    --color-secondary-300:    255,255,255;
    --color-secondary-400:    255,255,255;
    --color-secondary-500:    241,241,242;
    --color-secondary-600:    220,220,222;
    --color-secondary-700:    199,199,203;
    --color-secondary-800:    178,178,183;
    --color-secondary-900:    156,156,163;
    }