:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    255,255,255;
    --color-neutral-300:    255,255,255;
    --color-neutral-400:    195,246,207;
    --color-neutral-500:    128,237,153;
    --color-neutral-600:    92,232,124;
    --color-neutral-700:    57,227,96;
    --color-neutral-800:    30,212,72;
    --color-neutral-900:    25,177,60;
    --color-primary-50:     255,255,255;
    --color-primary-100:    248,255,253;
    --color-primary-200:    172,254,237;
    --color-primary-300:    97,253,220;
    --color-primary-400:    21,253,203;
    --color-primary-500:    2,195,154;
    --color-primary-600:    2,155,122;
    --color-primary-700:    1,114,90;
    --color-primary-800:    1,74,58;
    --color-primary-900:    0,33,26;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    254,209,217;
    --color-secondary-200:    253,134,155;
    --color-secondary-300:    251,59,93;
    --color-secondary-400:    229,4,45;
    --color-secondary-500:    154,3,30;
    --color-secondary-600:    114,2,22;
    --color-secondary-700:    74,1,14;
    --color-secondary-800:    34,1,7;
    --color-secondary-900:    0,0,0;
    }